<!-- Vai extender os blocks? -->

{% extends "bootstrap/template-base.html" %}
{% block title %}Eu sou um titulo feito não pela Extensão! {% endblock %}
{% block head %}
    {{ super() }}
    <style>
    </style>
{% endblock %}
{% block body %}
    {{ super() }}


    <h1> Avaliação Semestral</h1> <br><br>

    <h4>Aluno: Guilherme Matheus de Jesus de Araujo</h4><br>
    <h4>Prontuário: PT3026841</h4><br>


    {% block footer %}
      <h5>Horário: {{moment(current_time).format('LLL') }}</h5>
      <h6>Acessou em: {{moment(current_time).fromNow(refresh = true) }} </h6>
    {% endblock %}

    {% block script %}
        <!-- Optional JavaScript -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}

    {% endblock %}

{% endblock %}